:host {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

div {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}
